:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

input {
  background: transparent;
  border: none;
  color: rgba(245, 40, 145, 0);
  position: absolute;
  left: -9999px;
}

input:focus {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  font-size: 40px;
  font-weight: bold;
}

.tile-correct {
  background-color: #528D4F;
  border: solid 2px #528D4F;
}

.tile-close {
  background-color: #B49E3B;
  border: solid 2px #B49E3B;
}

.tile-wrong {
  background-color: #3B3B3C;
  border: solid 2px #3B3B3C;
}

.tile-default {
  background-color: #121312;
  border: solid 2px #3B3B3C;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}